{{>header}}

<section class="container">
<h1 class="text-center">All Countries</h1>

<div class="row d-flex justify-content-center">

{{#each data}}
<div class="card col-3 m-3" style="width: 18rem;">
  <img src="{{this.flag}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{this.nativeName}}</h5>
    <p class="card-text">{{this.alpha2Code}}</p>
    <a href="{{this.title}}" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
{{/each}}



</div>
</section>

{{>footer}}