{{>header}}
<section class="container">
<h1 class="text-center">{{data.nativeName}}</h1>

<div class="row d-flex justify-content-center">

<div class="card col-12 m-3" style="width: 18rem;">
  <img src="{{data.flag}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{data.name}}</h5>
    {{!-- <p class="card-text">{{data.description}}</p> --}}
  </div>
</div>


</div>
</section>
{{>footer}}